/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
public/qr-codes/1312993.png
public/qr-codes/2495637.png
public/qr-codes/7179133.png
public/qr-codes/8536911.png
public/qr-codes/9474309.png
public/qr-codes/10766858.png
public/qr-codes/13816181.png
public/qr-codes/14527742.png
public/qr-codes/22839178.png
public/qr-codes/23096608.png
public/qr-codes/26169436.png
public/qr-codes/35359767.png
public/qr-codes/39094614.png
public/qr-codes/41112913.png
public/qr-codes/43798026.png
public/qr-codes/53620325.png
public/qr-codes/59456573.png
public/qr-codes/62571336.png
public/qr-codes/65361234.png
public/qr-codes/81218022.png
public/qr-codes/86253817.png
public/qr-codes/90846511.png
public/qr-codes/97038353.png
